# Neither the config file or its backup should go
# into the repo.
config/config.inc.php
config/config.inc.php.bak
vulnerabilities/.DS_Store
external/phpids/0.6/lib/IDS/tmp/phpids_log.txt
Dockerfile

# Vim swap files
.*swp

# VS Code editor files
*.code-workspace

# Used by pytest
tests/__pycache__/
